.container-navbar {
    padding: 10px 60px;
}

.btn-nav {
    width: 106px;
    height: 58px;
    /* background-color: var(--bg-canvas); */
    color: var(--color-1);
    border-radius: 500px;
}

/* .collapse-nav {
    transform: translate3d(0px, 0px, 0px) scale3d(0, 0, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    background-color: black;
} */

@media only screen and (min-width: 280px) and (max-width: 650px){
    .container-navbar {
        padding: 10px 20px 0px 20px;
    }
    .btn-nav {
        width: 87px;
        height: 43px;
        
    }

}