/* HTML: <div class="loader"></div> */
.loaders {
  width: fit-content;
  font-size: 70px;
  line-height: 1.5;
  font-family: 'inter', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff00;
  -webkit-text-stroke: 1px #ffffff;
  background:
    radial-gradient(1.13em at 50% 1.6em,#ffffff 99%,#f9eeee00 101%) calc(50% - 1.6em) 0/3.2em 100% text,
    radial-gradient(1.13em at 50% -0.8em,#ffffff00 99%,#fff 101%) 50% .8em/3.2em 100% repeat-x  text;
  animation: l9 2s linear infinite;
}
.loaders:before {
  content: "BUDIBOY";
}
@keyframes l9 {
  to {background-position: calc(50% + 1.6em) 0,calc(50% + 3.2em) .8em}
}